<!DOCTYPE html>
<html lang="en" xml:lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google" content="notranslate">
        <link rel="shortcut icon" type="image/x-icon" href="/static/media/favicon.ico"/>
        <title>Pareto</title>
    </head>
    <body>
        <div id="app">
            <h1>App</h1>
        </div>
        <script>
            var env = {
               
            };
        </script>
        <script type="text/javascript" src="/static/main.bundle.js?version={{ version }}"></script>
    </body>
</html>
